################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FFM_MobileSolution/FFM_MobileApp/bin/Debug
/FFM_MobileSolution/FFM_MobileApp/.vs/FFM_MobileApp.App/FileContentIndex
/FFM_MobileSolution/FFM_MobileApp/obj
/FFM_MobileSolution/.vs/FFM_MobileSolution/v17
.vs/
/FFM_MobileSolution/FFM_MobileApp/FFM_MobileApp.csproj.user
