################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MapSpanAndImageButtonIssue/bin/Debug
/MapSpanAndImageButtonIssue/.vs/FFM_MobileApp.App/FileContentIndex
/MapSpanAndImageButtonIssue/obj
/.vs/FFM_MobileSolution/v17
.vs/
/MapSpanAndImageButtonIssue/FFM_MobileApp.csproj.user
